node_modules
vendor
.git
.env
.idea
.vscode
storage/*.key
database/*.sqlite
database/*.sqlite-journal
public/build
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
/tmp/*
Dockerfile
docker-compose.yml
.agents
.cursorrules
